.App{
  height: 100vh;
  background-color:#3f9cff ;
  padding: 30px 12px 30px ;
}
 input:focus{
  outline: none;
}
.chatbot {
  box-shadow: 0 4px 8px 0 #66b9f0, 0 6px 20px 0 #003c62;
}
.customize {
  box-shadow: 0 4px 8px 0 #66b9f0, 0 6px 20px 0 #003c62;
  font-family:"Open sans",serif;
  font-style: normal;
  font-weight:100 ;
}
